#nav_buttons{
    position:absolute;
    right:0;
    top:0;
}

#intro_para{
    font-size: 25px;
    color: rgb(73, 73, 73);
    left:100; 
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#intro_fig1_text{
    text-align: center;
}

.thead{
    padding-left: 50px;
    padding-right: 50px;
}

.fig_text{
    margin-left: 95px;
}

@media (max-width: 900px) {
    
    .fig_text{
        font-size: 12px;
        margin-left: 45px;
    }

    .intro_fig{
        font-size: 10px;
        text-align: center;
        max-width: 100%;
        height: auto;
        margin-top: 40px
    }

    #fig_row{
        padding-top: 10px;
    }

    #intro_para{
        position: relative;
        font-size: 12px;
        padding-top: 10;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .intro_fig{
        margin-top: 10px;
    }
}